<!DOCTYPE html>
<html>
    <head>
        <title> Check Weather</title>
        <link rel="stylesheet"  href="css/style.css" />
    </head>

    <body>
            <div class="header1">
                <a href="/"> HOME</a>
                <a href="/check"> Cheak Wether</a>
                
            </div>

    </body>
</html>