<!DOCTYPE html>
<html>
      <head>
      <title>  Check Weather</title>
      <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            <h2> {{>header}} </h2>

            <div class="home-title" >
                  <h2> {{title}} </h2>
                  <p> {{desc}} </p>
                  <a href="/check" ><button class="btn">Cheak Weather</button></a>
            </div>
            
            
            




            
      </body>
</html>